.main-container{
  width: 100vh;
}

.select-month-container{
  display: flex;
  justify-content: center;
  margin: 3%;
  align-items: center;
}

.title-container{
  justify-content: center;
  text-align: center;
}

.title{
  color: #37003c;
}