.main-container{
  width: 100%;
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px;
  box-sizing: border-box; 
  background-color: #f0f0f0;
}

.select-month-container{
  display: flex;
  justify-content: center;
  margin: 3%;
  align-items: center;
}

.title-container{
  justify-content: center;
  text-align: center;
}

.title{
  color: #37003c;
}